*{
        all: unset;
        color: black
}

.powermenu-box {
        background-color: rgb(30, 144, 255);
        border-radius: 6px;
}
.powermenu-header {
        font-size: 2em;
        border-bottom: 1px solid black;
}
.powermenu-closebtn {
        background-color: grey;
}
